* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: rgb(251, 247, 238);
  /* background-color: rgb(226, 254, 254); */
  font-family: 'Jost', sans-serif;
  background-image: url("./img/pngwing.com.png");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-attachment: fixed;
  overflow: hidden;
}
.nav-container{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 60px;
  background-color: white;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
  -moz-box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
  color: #4076b8;
}
.logo{
  font-size: 35px;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  padding-left: 10px;
}
.navImage{
  display: flex;
  height: 100%;
  /* border: 1px solid red; */
  width: 170px;
  background-image: url("./img/pngegg.png");
  background-size: cover;
  background-position: center;
  margin-left: 20px;

}
.menu{
  display: flex;
  flex-direction: column;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  right: 0;
  height: 100vh;
  width: 350px;
  top: 0;
  overflow: scroll;
  transform: translateX(350px);
  transition: transform 0.2s; 
  background-color: rgb(64, 118, 183,.8);
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 5px;
  -moz-box-shadow: rgba(0,0,0,0.3) 0 1px 5px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 5px;
  z-index: 3;

} 
.menu li {
  list-style: none;
  padding: 10px;
  /* border: 1px solid black; */
}

.menuItem {
  font-size: 20px;
  color: white;
  overflow: scroll;
  position: relative;
  text-decoration: none;
  font-weight: bolder;
  cursor: pointer;
}

.menuItem::after {
  position: absolute;
  content: "";
  width: 0%;
  height: 3px;
  background-color: white;
  border-radius: 25px 25px 25px 25px;
  left: 50%;
  bottom: -5px;
  transition: all 0.4s ease-in-out;
}

li:hover .menuItem::after {
  width: 100%;
  left: 0;
}
.hamburger {
  position: fixed;
  z-index: 100;
  top: 5px;
  height: 50px;
  width: 50px;
  right: 6px;
  padding: 3px;
  /* border: black solid 1px; */
  /* border-radius: 10px; */
  cursor: pointer;
  border: none;
  border-radius: 9px;
  /* background: white; */
  box-shadow:  5px 5px 10px #9e9e9e,
  -5px -5px 10px #ffffff;
  background-color: white;
  background-image: url('./img/menu_FILL0_wght400_GRAD0_opsz48.png');
}
.hamburgerClicked{
border-radius: 9px;
background: #ffffff;
box-shadow: inset 5px 5px 8px #d4d4d4,
inset -5px -5px 8px #ffffff;
background-image: url('./img/close_FILL0_wght400_GRAD0_opsz48.png');
}
.showMenu {
  transform: translateX(0);
}
.filmContainer{
  display: flex;
 flex-direction: row-reverse;
 /* border: 2px solid red; */
 width: 100vw;
 height: calc(100vh - 60px);
 overflow: scroll;
 justify-content: space-evenly;
 align-items: center;
}
h1{
  font-size: 30px;
  text-align: center;
}
.filmInfo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  /* border: 2px solid blue; */
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  height: 80vh;
  width: calc(80vh * (8/11));
  gap: 5%;
  color: rgb(132, 129, 129);
  box-shadow:  5px 5px 10px #9e9e9e,
  -5px -5px 10px #ffffff;
  animation: popUp .7s;
}

.bodyClear{
  animation: popAway .7s;
  transform: translateY(100%);
}
@keyframes popUp {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes popAway {
  0%{
    transform: translateY(0);
  }
  100%{
    transform: translateY(100%);
  }
}
.filmImage{
  height: calc(80vh);
  width: calc(80vh * (8/11));
  border-radius: 20px;
  transform: scale(1);
  animation: popUp .7s;
  color: rgb(132, 129, 129);
  box-shadow:  5px 5px 10px #9e9e9e,
  -5px -5px 10px #ffffff;
}
.infoWrap{
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 5px;
}
span{
  /* color: rgb(249, 189, 112); */
  color: #4076b8;
  text-shadow: 1px 1px 1px rgba(0, 0, 0,.5);
}

@media screen and (max-width: 820px){
  .logo{
    font-size: 20px;
    letter-spacing: -1px;
  }
  .navImage{
    margin-left: 0;
  }
  .body{
    background-position: right;
    background-size: 100px;
    background-attachment: initial;
  }
  .filmContainer{
    flex-direction: column-reverse;
  }
  .filmImage{
    height: 40vh;
    width: calc(40vh * 8/11);
  }
  .filmInfo{
    height: 40vh;
    width: calc(60vh * 8/11);
    font-size: 16px;
  }
  .infoWrap{
    overflow: scroll;
    padding-bottom: 10px;
  }
  .menu{
    width: 300px;
  }
}